.App {
  padding-top: 2vw;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background-chooser {
  position: absolute;
  top: 1vw;
  left: 1vw;
}
.prompt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.prompt-responses{
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}